---
layout: layouts/home.njk
eleventyNavigation:
  key: Главная
  order: 1
---

{% set maxapps = collections.apps.length %}
<h1>Приложений: {{ maxapps }}</h1>

{% set appslist = collections.apps %} {% set appslistCounter = collections.apps
| length %} {% include "appslist.njk" %}

<p>
  Больше приложений можно найти в <a href="{{ '/apps/' | url }}">каталоге</a>.
</p>
