---
layout: layouts/home.njk
eleventyNavigation:
  key: Главная
  order: 1
---
{% set maxPosts = collections.posts.length %}
<h1>Приложений: {{ maxPosts }}</h1>

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Больше приложений можно найти в <a href="{{ '/posts/' | url }}">каталоге</a>.</p>
