---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  {% set absoluteUrl %}{{ metadata.feed.path | url | absoluteUrl(metadata.url)
  }}{% endset %}
  <link href="{{ absoluteUrl }}" rel="self" />
  <link href="{{ metadata.url }}" />
  <updated>{{ collections.apps | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for app in collections.apps | reverse %} {% set absoluteappUrl %}{{
  app.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ app.data.title }}</title>
    <link href="{{ absoluteappUrl }}" />
    <updated>{{ app.date | rssDate }}</updated>
    <id>{{ absoluteappUrl }}</id>
    <content type="html"
      >{{ app.templateContent | htmlToAbsoluteUrls(absoluteappUrl) }}</content
    >
  </entry>
  {%- endfor %}
</feed>
